body
{
	padding: 0;
 	margin: 0;
	height: 100%;
	font-size: 16px;
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #242645;
	color: #fff;
	font-family: 'Source Sans Pro';
	background-size: 100%;
	background-image: url(../img/bj.jpg);
	background:#666;
	text-align:center;
	font: 400 1em/1.5 "Neuton";
}
body .teamtitle
{
    margin-top: 20px;
    height: 50px;
    /*margin: auto;*/
    left: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    align-content: center;

}
body .teamtitle > p
{
    /*font-size: xx-large;*/
    font-family: "楷体";
    font-size: 90px;
    font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	/*padding: .25em 0 .325em;*/
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;
}
@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}
.line4 {
font: 2.45rem/3.45rem 'Vidaloka', serif;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	color: rgb(135, 207, 87);
	text-shadow: -2px 2px 5px #000;

}
body .linktitle
{
    align-content: center;
    margin: auto;
    margin-top: auto;
    left: 0;
    right: 0;
    height: 20px;
    line-height: 20px;
    align-content: center;
    display: table;
    margin-top: 20px;
    color: black;

}
body .linktitle >a
{
    margin-left:10px;
    cursor:pointer;
    font-style: italic;
    text-decoration: underline;
}
body .teamcontent
{
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    width:1200px;
    margin-top: 50px;
}
body .bussine{
    opacity: 1;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 200px;
    display: block;
}
body .menu
{
  box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.7);
  opacity: 1;
  top: 20px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
  -webkit-transition-property: -webkit-transform,opacity,box-shadow,top,left;
          transition-property: transform,opacity,box-shadow,top,left;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform-origin: 161px 100%;
      -ms-transform-origin: 161px 100%;
          transform-origin: 161px 100%;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  position: relative;
  display: inline-block;
    margin-left: 20px;
  width: 100px;
  /*border-top: 2px solid #D8312A;*/
  height: 200px;
  /*position: absolute;*/
  left: 0;
  right: 0;
  /*margin: auto;*/
  top: 0;
  bottom: 0;
  padding: 100px 40px 40px 40px;
  background: #35394a;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #35394a), color-stop(100%, rgb(0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(230deg, rgba(53, 57, 74, 0) 0%, rgb(0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(230deg, rgba(53, 57, 74, 0) 0%, rgb(0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(53, 57, 74, 0)', endColorstr='rgb(0, 0, 0)',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
body .menu:hover{
     box-shadow: none;
}
body .menu_title {
  color: #D3D7F7;
  /*height: 60px;
  text-align: left;*/
  font-size: 16px;
}
body .menu_fields__more {
  position: relative;
  top: 17px;
  left: 0;
  width: 80%;
  right: 0;
  margin: auto;
}
body .menu_fields__more input {
  border-radius: 50px;
  background: transparent;
  padding: 5px 20px;
 /* border: 2px solid #4FA1D9;*/
    border:none;
    text-decoration: underline;
    color: #4FA1D9;
    text-transform: uppercase;
    font-size: 14px;
    bottom: 0px;
    /*right: 0px;*/
    position: fixed;
    -webkit-transition-property: background,color;
          transition-property: background,color;
    -webkit-transition-duration: .2s;
          transition-duration: .2s;

}
body .menu_fields__more input:focus {
  box-shadow: none;
  outline: none;
}
body .menu_fields__more input:hover {
  color: white;
  background: #4FA1D9;
  cursor: pointer;
  -webkit-transition-property: background,color;
          transition-property: background,color;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}
.wrap {
  width: 100%;
  height: 188px;
  /*position: absolute;*/
  top: -8px;
  left: 8px;
  overflow: hidden;
  opacity: 1;
}
.wrap:before {
    content: "";
    /*display: block;*/
    border-radius: 8px 8px 0px 0px;
    width: 40px;
    height: 8px;
    /*position: absolute;*/
    right: 100px;
    background: #4D6530;
}
.wrap:after {
    content: "";
    display: block;
    border-radius: 0px 8px 8px 0px;
    width: 8px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 100px;
    background: #4D6530;
}
.ribbon6 {
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 30px;
    right: -50px;
    z-index: 2;
    overflow: hidden;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border: 1px dashed;
/*  box-shadow:0 0 0 3px #57DD43,  0px 21px 5px -18px rgba(0,0,0,0.6);
 background: #57DD43;*/

    box-shadow: 0 0 0 3px #5991B7, 0px 21px 5px -18px rgba(0,0,0,0.6);
    background: #4FA1D9;
}
.des_content{
    color: #D3D7F7;
    font: 12px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
    text-align: left;
}
li:hover a{
    color: #4FA1D9;
}
.SignFlowHomepage-footer
{
    bottom: 0px;
    position: absolute;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 2px #999;
    margin:auto;
    left:0;
    right:0;

}

.loginbtn{
    background-color:#4FA1D9;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    border: solid 1px #186f8f;
    border-radius: 5px;
    cursor:pointer;
}