.head{
    margin:auto;
    left:0;
    width:200px;
    height:20px;
    line-height:20px;
    top:0;
}
.ulsudoku{
    list-style: none;
    width: 900px;
    height: 900px;
}
.lirow{
    width: 477px;
    height:0px;
}
.spancell{
	float: left;
	display: inline-block;
	margin: 0;
	border: 1px dotted green;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
}
.spanbottom{
    border-bottom: 2px solid chartreuse;
}
.spanright{
    border-right: 2px solid chartreuse;
}