<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>下载</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'assets/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/download.css' %}">
</head>
<body>
<div id="header-wrapper">
	<div id="header">
		<div id="menu">
			<ul>
				<li ><a href="/api/index">首页</a></li>
				<li ><a href="/api/blog">博客</a></li>
				<li ><a href="/api/Teammembers">团队成员</a></li>
				<li><a href="#">关于</a></li>
				<li><a href="#">联系</a></li>
				<li class="current_page_item"><a href="#" >下载文档和脚本</a></li>
			</ul>
		</div>
		<div id="logo">
		<h1><a href="#">BugCS</a></h1>
		<p>by <a href="http://www.freecsstemplates.org/">主创团队记录</a></p>
	</div>
	</div>
</div>
	<!-- end #header -->
<div class="fullslide">
    <div style="display: inline-block;border-radius: 20px;background: #48a4ac;"><input type="search" results="s"/></div>
    <button class="searchbth">Search</button>
</div>

<div class="download">
    <div class="layout">
        <h3 class="casedoc">
            <i class="i-line"></i>
            <span>文档下载</span>
            <p>用例模板，报告模板等</p>
        </h3>
        <ul>
            <li class="classli">
                <div class="clearfix">
                <span class="img-box">
                    用例文档
                </span>
                <div class="info">
                    <ul>
                        <li class="childli"><a herf="#">用例模板1</a></li>
                        <li class="childli"><a herf="#">用例模板2</a></li>
                        <li class="childli"><a herf="#">用例模板3</a></li>
                        <li class="childli"><a herf="#">用例模板4</a></li>
                        <li class="childli"><a herf="#">用例模板5</a></li>
                    </ul>
                </div>
            </div>
            </li>

            <li class="classli">
                <div class="clearfix">
                <span class="img-box">
                    报告文档
                </span>
                <div class="info">
                    <ul>
                        <li class="childli"><a herf="#">报告模板1</a></li>
                        <li class="childli"><a herf="#">报告模板2</a></li>
                        <li class="childli"><a herf="#">报告模板3</a></li>
                        <li class="childli"><a herf="#">报告模板4</a></li>
                        <li class="childli"><a herf="#">报告模板5</a></li>
                    </ul>
                </div>
            </div>
            </li>
            <li class="classli">
                <div class="clearfix">
                <span class="img-box">
                    其他文档
                </span>
                <div class="info">
                    <ul>
                        <li class="childli"><a herf="#">jdk部署文档</a></li>
                        <li class="childli"><a herf="#">RF部署文档</a></li>
                        <li class="childli"><a herf="#">jmeter使用说明</a></li>
                    </ul>
                </div>
            </div>
            </li>
        </ul>
    </div>
     <div class="layout">
        <h3 class="casedoc">
            <i class="i-line"></i>
            <span>脚本下载</span>
            <p>python脚本，shell脚本等</p>
        </h3>
         <ul>
            <li class="classli">
                <span class="img-box">
                    Moniter.py
                </span>
                <div class="info">
                    <span class="title">python监控linux性能</span>
                    <span class="des">使用说明：</span>
                    <span class="download-num">下载次数：</span>
                    <span class="size">大小：</span>
                    <span class="download-btn">下载：</span>
                </div>
            </li>



          <li class="classli">
            <span class="img-box">
                test.sh
            </span>
            <div class="info">
                <span class="title">python监控linux性能</span>
                <span class="des">使用说明：</span>
                <span class="download-num">下载次数：</span>
                <span class="size">大小：</span>
                <span class="download-btn">下载：</span>
            </div>
            </li>

              <li class="classli">
                <span class="img-box">
                    jmeter.jmx
                </span>
                <div class="info">
                    <span class="title">python监控linux性能</span>
                    <span class="des">使用说明：</span>
                    <span class="download-num">下载次数：</span>
                    <span class="size">大小：</span>
                    <span class="download-btn">下载：</span>
                </div>
            </li>
        </ul>

    </div>

</div>
</body>
</html>