<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>团队成员介绍</title>
     {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/teammembers.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/common.css' %}">
<style type="text/css">

	html {
		position: relative;
		min-height: 100%;
	}

	body {
		background-color: #07040e;
		color: #37474F;
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		font-size: 16px;
	}

	h1, h2, h3 {
		font-weight: 200;
	}

</style>

</head>
<body>
<div id="header-wrapper">
	<div id="header">
		<div id="menu">
			<ul>
				<li ><a href="/api/index">首页</a></li>
				<li ><a href="/api/blog">博客</a></li>
				<li class="current_page_item"><a href="/api/Teammembers">团队成员</a></li>
				<li><a href="#">关于</a></li>
				<li><a href="#">联系</a></li>
				<li><a href="#">下载用例模板</a></li>
				<li><a href="#">下载脚本</a></li>
			</ul>
		</div>
		<div id="logo">
		<h1><a href="#">BugCS</a></h1>
		<p>by <a href="http://www.freecsstemplates.org/">主创团队记录</a></p>
	</div>
	</div>
</div>
	<!-- end #header -->
<div class="members">
	<div class="member">
		<div class="headportrait" style="background-image: url({% static 'assets/img/teammembers/1.jpg' %});"></div>
		<div class="introduce">
			<div class="speciality">
				<p>
					<a>老徐</a>
					<span>擅长：</span><span>web自动化；</span>
					<span>精通：</span><span>用例编写/用例执行/报告输出等测试文档类；</span>
					<span>其他技能如下：</span>
				</p>
			</div>

			<div class="skill">
				<div class="skillname">
					<span class="progress_bar_title">用例编写</span>
					<div class="progress">
						<div class="progress-bar" style="width: 85%; background: #ed687c;">
							<span style="background: #ed687c;">95%</span>
						</div>
					</div>
				</div>

				<div class="skillname">
					<span class="progressbar-title">selenuim</span>
					<div class="progress">
						<div class="progress-bar" style="width: 75%; background: #049dff;">
							<span style="background: #049dff;">75%</span>
						</div>
					</div>
				</div>

				<div class="skillname">
					<span class="progressbar-title">python</span>
					<div class="progress">
						<div class="progress-bar" style="width: 75%; background:#72964c;">
							<span style="background:#72964c;">75%</span>
						</div>
					</div>
				</div>

				<div class="skillname">
					<span class="progressbar-title">jmeter</span>
					<div class="progress">
						<div class="progress-bar" style="width: 75%; background: #ff7a04;">
							<span style="background: #ff7a04;">75%</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="member">
		<div class="headportrait" style="background-image: url({% static 'assets/img/teammembers/2.jpg' %});"></div>
		<div class="introduce">
			<div class="speciality">
				<p>
					<a>老徐</a>
					<span>擅长：</span><span>web自动化</span>
				</p>
			</div>

			<div class="skill">
				<div class="skillname">
					<span class="progress_bar_title">用例编写</span>
					<div class="progress">
						<div class="progress-bar" style="width: 85%; background: #ed687c;">
							<span style="background: #ed687c;">95%</span>
						</div>
					</div>
				</div>

				<div class="skillname">
					<span class="progressbar-title">selenuim</span>
					<div class="progress">
						<div class="progress-bar" style="width: 75%; background: #049dff;">
							<span style="background: #049dff;">75%</span>
						</div>
					</div>
				</div>

				<div class="skillname">
					<span class="progressbar-title">python</span>
					<div class="progress">
						<div class="progress-bar" style="width: 75%; background: #049dff;">
							<span style="background: #049dff;">75%</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="member">
		<div class="headportrait" style="background-image: url({% static 'assets/img/teammembers/3.jpg' %});"></div>
		<div class="introduce">
			<div class="speciality">
				<p>
					<a>老徐</a>
					<span>擅长：</span><span>web自动化</span>
				</p>
			</div>

			<div class="skill">
				<div class="skillname">
					<span class="progress_bar_title">用例编写</span>
					<div class="progress">
						<div class="progress-bar" style="width: 85%; background: #ed687c;">
							<span style="background: #ed687c;">95%</span>
						</div>
					</div>
				</div>

				<div class="skillname">
					<span class="progressbar-title">selenuim</span>
					<div class="progress">
						<div class="progress-bar" style="width: 75%; background: #049dff;">
							<span style="background: #049dff;">75%</span>
						</div>
					</div>
				</div>

				<div class="skillname">
					<span class="progressbar-title">python</span>
					<div class="progress">
						<div class="progress-bar" style="width: 75%; background: #049dff;">
							<span style="background: #049dff;">75%</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="member">
		<div class="headportrait" style="background-image: url({% static 'assets/img/teammembers/4.jpg' %});"></div>
		<div class="introduce">
			<div class="speciality">
				<p>
					<a>老徐</a>
					<span>擅长：</span><span>web自动化</span>
				</p>
			</div>

			<div class="skill">
				<div class="skillname">
					<span class="progress_bar_title">用例编写</span>
					<div class="progress">
						<div class="progress-bar" style="width: 85%; background: #ed687c;">
							<span style="background: #ed687c;">95%</span>
						</div>
					</div>
				</div>

				<div class="skillname">
					<span class="progressbar-title">selenuim</span>
					<div class="progress">
						<div class="progress-bar" style="width: 75%; background: #049dff;">
							<span style="background: #049dff;">75%</span>
						</div>
					</div>
				</div>

				<div class="skillname">
					<span class="progressbar-title">python</span>
					<div class="progress">
						<div class="progress-bar" style="width: 75%; background: #049dff;">
							<span style="background: #049dff;">75%</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="member">
		<div class="headportrait" style="background-image: url({% static 'assets/img/teammembers/5.jpg' %});"></div>
		<div class="introduce">
			<div class="speciality">
				<p>
					<a>老徐</a>
					<span>擅长：</span><span>web自动化</span>
				</p>
			</div>

			<div class="skill">
				<div class="skillname">
					<span class="progress_bar_title">用例编写</span>
					<div class="progress">
						<div class="progress-bar" style="width: 85%; background: #ed687c;">
							<span style="background: #ed687c;">95%</span>
						</div>
					</div>
				</div>

				<div class="skillname">
					<span class="progressbar-title">selenuim</span>
					<div class="progress">
						<div class="progress-bar" style="width: 75%; background: #049dff;">
							<span style="background: #049dff;">75%</span>
						</div>
					</div>
				</div>

				<div class="skillname">
					<span class="progressbar-title">python</span>
					<div class="progress">
						<div class="progress-bar" style="width: 75%; background: #049dff;">
							<span style="background: #049dff;">75%</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>



<script src="/static/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/assets/js/jquery.material-cards.min.js"></script>
<script>
	$(function() {
		$('.material-card').materialCard({
			icon_close: 'fa-chevron-left',
			icon_open: 'fa-thumbs-o-up',
			icon_spin: 'fa-spin-fast',
			card_activator: 'click'
		});

//        $('.active-with-click .material-card').materialCard();

		window.setTimeout(function() {
			$('.material-card:eq(1)').materialCard('open');
		}, 2000);

		$('.material-card').on('shown.material-card show.material-card hide.material-card hidden.material-card', function (event) {
			console.log(event.type, event.namespace, $(this));
		});

	});
</script>

<footer class="SignFlowHomepage-footer">

    <div class="ZhihuRights">
        <span>© 2018 xx测试团队</span>
        <input class="loginbtn" type="button" value="登录">
        <input class="loginbtn" type="button" value="注册">
    </div>

</footer>
</body>
</html>